.viewBook{
    outline: none;
    border: 1px solid white;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    color: white;
    border-radius: 15px;
    font-size: 20px;
  
  }
  .bg-success {
    background-color: #72fcfc; /* Replace with your preferred green color */
}